.Agency {
  padding: 27px 0 80px;
  color: var(--mainColor);

  &__back {
    cursor: pointer;
    display: flex;
    color: var(--colorBlue);
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 15px;

    img {
      margin-right: 6px;
      transform: rotate(90deg);
    }
  }

  &__first-block {
    display: flex;

    .main-content {
      max-width: 780px;
      border-radius: 10px 10px 0 0;
      margin-right: 20px;
      background-color: var(--colorWhite);

      &__bg {
        border-radius: 10px 10px 0 0;
        width: 780px;
        height: 210px;
      }

      .agency-info {
        color: #1D2E5B;
        padding: 0 30px;

        &__title {
          position: relative;
          border-bottom: 1px solid rgba(56, 113, 239, 0.2);

          .logo-block {
            position: absolute;
            bottom: 25px;
            width: 172px;
            height: 172px;
            border: 1px solid var(--colorLightGrey);
            box-sizing: border-box;
            border-radius: 8px;
            background: #E5EAF7;
          }
        }

        &__block {
          margin: 24px 0 0 198px;

          .agency-name {
            font-family: var(--fontNunitoBold);
            font-size: 20px;
            line-height: 27px;
            margin-bottom: 10px;
          }

          .rating-block {
            .total {
              font-size: 14px;
              line-height: 19px;
              margin-right: 6px;
            }

            label {
              width: 14px;
              height: 14px;
              margin-bottom: unset;
              margin-right: 4px;
              float: unset !important;
            }

            .rating-star {
              width: 100%;
              height: 100%;
            }

            .from {
              margin-left: 10px;
              font-size: 12px;
              line-height: 16px;
              color: var(--colorBlue);
            }
          }

          .gray {
            display: block;
            font-size: 12px;
            line-height: 16px;
            opacity: 0.6;
            margin-bottom: 25px;
          }
        }

        &__contact-block {
          padding: 0 0 14px;
          border-bottom: 1px solid rgba(56, 113, 239, 0.2);

          h2 {
            font-size: 20px;
            line-height: 27px;
            font-family: var(--fontNunitoBold);
            margin: 25px 0 20px;
          }

          .contact-agency-list {
            display: flex;
            align-items: center;
            font-size: 14px;
            line-height: 19px;
            margin-bottom: 16px;

            &__name {
              img {
                margin-right: 5px;
              }

              display: flex;
              align-items: center;
              min-width: 145px;
            }

            &__info {
              .show-phone {
                cursor: pointer;
                font-size: 14px;
                line-height: 19px;
                color: var(--colorBlue);
              }
            }
          }
        }

        &__social-links {
          padding: 0 0 30px;
          border-bottom: 1px solid rgba(56, 113, 239, 0.2);

          p {
            margin: 30px 0 10px;
            font-family: var(--fontNunitoBold);
            font-size: 18px;
            line-height: 25px;
          }

          img {
            width: 36px;
            height: 36px;
            cursor: pointer;
            margin-right: 10px;
          }
        }

        &__about_us {
          h3 {
            margin: 30px 0 10px;
            font-family: var(--fontNunitoBold);
            font-size: 20px;
            line-height: 27px;
          }

          p {
            font-size: 14px;
            line-height: 19px;
            margin-bottom: 10px;
          }

          .show-more {
            display: flex;
            align-items: center;
            cursor: pointer;

            img {
              width: 14px;
              height: 14px;
              margin-right: 5px;
            }

            font-size: 14px;
            line-height: 19px;
            color: var(--colorBlue);
            margin-bottom: 22px;
          }
        }
      }
    }

    .contact-agency-block {
      width: 315px;

      .contact-agency {
        color: var(--mainColor);
        padding: 30px;
        background: var(--colorWhite);
        border-radius: 10px;
        font-size: 14px;
        line-height: 19px;

        h4, p {
          text-align: center;
        }

        h4 {
          font-family: var(--fontNunitoBold);
          font-size: 20px;
          line-height: 27px;
        }

        input, textarea, select {
          font-size: 16px;
          line-height: 22px;
          border-radius: 6px;
          margin-bottom: 20px;
        }

        input:not([type="checkbox"]), select {
          height: 46px;
        }

        textarea {
          resize: none;
        }

        .confirm {
          font-family: var(--fontNunitoBold);
          width: 100%;
          height: 50px;
          background: var(--colorBlue);
          border-radius: 8px;
        }

        .custom-select {
          background-image: url("../../assets/images/arrow.svg");
          background-size: 18px;
        }
      }

      &__desc {
        font-size: 12px;
        line-height: 16px;
        color: var(--colorGrayTwo);

        p {
          margin: 22px 0 0;

          .link {
            cursor: pointer;
            color: var(--colorBlue);
            text-decoration: underline;
          }
        }
      }
    }
  }

  &__second-block, &__third-block, &__fourth-block {
    margin-top: 20px;

    h3 {
      font-family: var(--fontNunitoBold);
      font-size: 20px;
      line-height: 27px;
      margin-bottom: 10px;
    }

    p {
      font-size: 14px;
      line-height: 19px;
    }

    .main-content {
      padding: 30px;
      background-color: var(--colorWhite);
      max-width: 780px;

      .agents-block {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;

        .agent {
          display: flex;
          align-items: center;
          border: 1px solid var(--bg-blue);
          box-sizing: border-box;
          border-radius: 8px;
          padding: 20px;

          img {
            margin-right: 16px;
          }

          .agent-info {
            display: flex;
            flex-direction: column;
            font-size: 14px;
            line-height: 19px;

            .agent-name {
              font-family: var(--fontNunitoBold);
              margin-bottom: 5px;
            }
          }
        }
      }

      .properties-list {
        display: flex;

        .left-block {
          width: 100%;
          height: 100%;
          max-width: 360px;
          min-height: 585px;
          max-height: 605px;
          margin-right: 20px;
        }

        .right-block {
          :nth-child(1) {
            padding-top: unset;
          }

          width: 100%;

          .property-block {
            padding-bottom: 14px;

            &__info {
              .address {
                font-size: 12px;
                line-height: 16px;
              }

              .short-desc {
                .time {
                  line-height: 16px;
                }

                a {
                  font-size: 14px;
                  line-height: 19px;
                }

                .house-info {
                  display: flex;
                  align-items: center;
                  line-height: 16px;
                  margin-bottom: 14px;

                  :last-child {
                    margin-right: unset;
                  }

                  span {
                    padding: 4px 8px !important;
                  }
                }
              }
            }
          }

          .load-more {
            margin-top: 14px;
            width: 100%;
          }
        }
      }

      .main-rate-info {
        .total-info {
          display: flex;
          width: 100%;
          border: 1px solid var(--colorLightBlue);
          border-radius: 8px;

          &__main {
            display: flex;
            width: 75%;

            .left-block {
              padding: 27px 30px;

              .total {
                font-family: var(--fontNunitoBold);
                color: var(--colorOrange);
                font-size: 64px;
                line-height: 87px;
              }

              img {
                width: 20px;
                height: 20px;
                margin-right: 4px;
              }

              .from {
                display: block;
                margin-top: 10px;
                font-size: 14px;
                line-height: 19px;
              }
            }

            .right-block {
              padding: 30px 30px 30px 0;

              .statistic {
                display: flex;
                margin-bottom: 10px;
                width: 100%;
                align-items: center;

                .stars {
                  display: block;
                  font-size: 14px;
                  line-height: 19px;
                  color: var(--mainColor);
                  margin-right: 3px;
                }

                img {
                  width: 18px;
                  height: 18px;
                }

                span {
                  font-size: 12px;
                  line-height: 16px;
                  color: var(--colorGrayTwo);
                }

                .progress {
                  width: 148px;
                  height: 7px;
                  margin: 0 8px;
                  border-radius: 4px;
                  background-color: var(--bg-blue);

                  .progress-bar {
                    background-color: var(--colorOrange);
                  }
                }
              }
            }
          }

          &__feedback {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-left: 1px solid var(--colorLightBlue);

            p {
              font-size: 16px;
              line-height: 22px;
              text-align: center;
              width: 50%;
            }

            .leave-feedback {
              display: flex;
              cursor: pointer;
              justify-content: center;
              align-items: center;
              font-size: 14px;
              line-height: 19px;
              width: 153px;
              height: 35px;
              color: var(--colorWhite);
              background: var(--colorBlue);
              border: 1px solid var(--colorBlue);
              box-sizing: border-box;
              border-radius: 6px;

              img {
                width: 14px;
                height: 14px;
                margin-right: 6px;
              }
            }
          }
        }

        .sort-block {
          margin-top: 30px;
          display: flex;
          justify-content: space-between;

          .custom-select {
            width: 150px;
            height: 46px;
            border: 1px solid var(--colorLightBlue);
            border-radius: 6px;
            background-image: url("../../assets/images/arrow.svg");
            background-size: 18px;
          }
        }
      }

      .reviews-list {
        .review {
          margin-top: 20px;
          border-bottom: 1px solid rgba(56, 113, 239, 0.2);
          padding-bottom: 20px;

          &__head {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .review-title {
              display: flex;
              align-items: center;

              .stars-block {
                margin-right: 11px;

                img {
                  width: 15px;
                  height: 15px;
                }
              }

              .bold {
                font-family: var(--fontNunitoBold);
                font-size: 14px;
                line-height: 19px;
              }
            }

            .flag {
              cursor: pointer;
            }
          }

          &__content {
            display: flex;
            justify-content: space-between;

            .left-side {
              .desc {
                margin: 10px 0 20px;
                max-width: 456px;
              }

              .author-block {
                display: flex;
                align-items: center;

                img {
                  width: 14px;
                  height: 14px;
                  margin-right: 6px;
                }

                span {
                  display: block;
                  font-size: 12px;
                  line-height: 16px;
                  margin-right: 4px;
                }

                .commented {
                  opacity: 0.6;

                }
              }
            }

            .right-side {
              .rate-block {
                display: flex;
                margin: 10px 0;

                .rating {
                  display: flex;
                  align-items: center;

                  img {
                    margin-left: 2px;
                    width: 11px;
                    height: 11px;
                  }
                }

                .rating-name {
                  display: block;
                  font-size: 12px;
                  line-height: 16px;
                  color: var(--colorGrayTwo);
                  margin-left: 10px;
                }
              }
            }
          }
        }
      }
    }

    .load-more {
      display: flex;
      align-items: center;
      justify-content: center;
      border: unset;
      width: 224px;
      height: 47px;
      background: var(--bg-blue);
      color: var(--colorBlue);
      font-family: var(--fontNunito);
      font-size: 14px;
      line-height: 19px;
      border-radius: 8px;
      margin: 30px auto 0;

      img {
        margin-right: 5px;
      }
    }
  }
}