.blog-container {
	width: 50%;
	padding-top: 50px;
	padding-bottom: 50px;
	@media (max-width: 900px) {
		width: 85% !important;
	}
}

.blogs-page-subtitle {
	font-size: 18px;
	padding-top: 5px;
	color: #1d2e5b;
	text-align: center;
	width: 50%;

	@media (max-width: 600px) {
		width: 85% !important;
	}
}

.blogs-page-title {
	font-weight: bold;
	color: #1d2e5b;
	@media (max-width: 480px) {
		font-size: 35px;
	}
}

.blog-title {
	color: white;
	width: 70%;
	text-align: center;
	padding-top: 30px;
	font-size: 35px;
	@media (max-width: 600px) {
		width: 95% !important;
		font-size: 30px !important;
		padding-top: 30px !important;
	}
	@media (max-width: 350px) {
		padding-top: 20px !important;
	}
}

.blog-cover {
	width: 60%;
	height: 300px;
	object-fit: cover;
	margin-top: -50px;
	margin-bottom: 20px;

	@media (max-width: 386px) {
		width: 95% !important;
		height: 200px !important;
	}
	@media (max-width: 786px) {
		width: 95% !important;
		//height: 300px !important;
	}
}

.rdw-image-imagewrapper {
	img {
		max-width: 100%;
	}
}

.blog-editor-container {
	width: 70%;
	@media (max-width: 786px) {
		width: 90% !important;
	}
}

.comments-container {
	width: 60%;
	@media (max-width: 600px) {
		width: 90% !important;
	}
}
