.title-input {
	text-align: center;
	color: white;
	background: transparent;
	border-style: none;
	border: none;
	resize: none;
	overflow: hidden;
	outline: none;
	width: 90%;
	padding: 0px;
	margin: 0px;
	@media (min-width: 786px) {
		width: 45%;
	}
}

.cover-image-container {
	width: 70%;
	// margin-top: -50px;
	margin-bottom: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	position: relative;

	@media only screen and (max-width: 600px) {
		width: 95% !important;
	}
}

.editor-wrapper {
	border: 1px solid rgb(200, 200, 200);
	background-color: white;
	border-radius: 8px;
}

.upload-cover-placeholder {
	background-color: #ecf0f5;
	z-index: 2;
	border-radius: 8px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 90%;
	height: 45vw;
	box-shadow: 1px 1px 8px rgba($color: #000000, $alpha: 0.2);
	@media (min-width: 786px) {
		width: 45%;
		height: 22vw;
	}
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
	font-size: 1.25em;
	font-weight: 700;
	color: white;
	background-color: #1184ff;
	display: inline-block;
	padding: 5px 10px;
	border-radius: 5px;
}

.inputfile:focus + label,
.inputfile + label:hover {
	background-color: #007bff;
}

.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}
