.Dashboard {
  padding: 27px 0 80px;
  color: var(--mainColor);

  h1 {
    font-family: var(--fontNunitoBold);
    line-height: 33px;
  }

  &__container {
    width: 100%;

    .main-info-block {
      padding: 30px;
      margin-bottom: 20px;
      width: 100%;

      background: var(--colorWhite);
      border-radius: 10px;

      .top-block {
        span {
          font-size: 14px;
          cursor: pointer;
          color: var(--colorBlue);

          img {
            margin-left: 4px;
          }
        }
      }

      .bottom-block {
        .image-block {
          margin-right: 30px;

          &__info {
            margin-left: 12px;

            .title {
              font-size: 12px;
              line-height: 16px;
              opacity: 0.7;
            }

            .desc {
              font-size: 14px;
            }
          }
        }
      }
    }

    .estimate-block {
      width: 100%;
      padding: 30px;
      margin-bottom: 20px;

      background: var(--colorWhite);
      border-radius: 10px;

      h2 {
        font-family: var(--fontNunitoBold);
      }

      p {
        margin-bottom: 86px;
      }

      .no-estim {
        margin-bottom: 20px;
      }

      .no-estimation-block {
        display: flex;
        align-items: flex-start;

        background: var(--bg-blue);
        border-radius: 8px;
        padding: 30px;

        img {
          margin-right: 10px;
        }

        span {
          color: var(--colorGrayTwo);
          width: 60%;
        }
      }

      .scale-block {
        .line {
          background-image: url("../../assets/images/price-graph.svg");
          width: 836px;
          background-size: cover;
          height: 35px;
        }

        .range {
          margin-top: 14px;

          .min,
          .max {
            display: flex;
            flex-direction: column;
          }

          .max {
            align-items: flex-end;
          }

          span {
            font-family: var(--fontNunitoBold);
            font-size: 16px;
          }

          .gray {
            font-family: var(--fontNunito);
            color: var(--colorGrayTwo);
            font-size: 12px;
            line-height: 16px;
          }
        }
      }

      .btn-block {
        margin-top: 35px;
        font-family: var(--fontNunitoBold);

        span {
          line-height: 22px;
          display: block;
          text-align: center;
          margin-bottom: 16px;
        }

        .custom-active {
          background: var(--mainColor);
          color: var(--colorWhite);
        }

        button {
          height: 43px;
          font-size: 14px;
          line-height: 19px;

          color: var(--mainColor);
          background-color: transparent;
          border-color: var(--colorLightGrey);

          &:active,
          &:focus,
          &:target {
            box-shadow: none;
            background: var(--mainColor);
            color: var(--colorWhite);
          }
        }
      }

      .estimation-popup {
        padding: 30px;
        margin-top: 20px;
        width: 100%;
        background: var(--bg-blue);
        border-radius: 8px;

        .ico {
          background-color: var(--colorWhite);
          border-right: unset;
          padding-left: 14px;
          padding-right: 0;
        }

        input {
          border-top-left-radius: 0 !important;
          border-bottom-left-radius: 0 !important;
        }

        .input-group-text {
          border-radius: 6px 0 0 6px;
        }

        input,
        textarea {
          box-shadow: unset;
          line-height: 22px;
          border-radius: 6px;

          &:focus {
            border-color: #ced4da;
          }
        }

        .border-left-0 {
          padding-left: 5px;
        }

        textarea {
          resize: none;
        }

        &__title {
          margin-bottom: 5px;
          font-size: 14px;
          line-height: 19px;
        }

        .input-group {
          margin-bottom: 20px;
        }

        .confirm {
          font-family: var(--fontNunitoBold);
          margin: 20px auto 0;
          display: block;

          width: 156px;
          height: 50px;

          background: var(--colorBlue);
          border-radius: 8px;
        }
      }

      .thanks-for-reply {
        margin-top: 20px;
        width: 100%;
        background: var(--colorWhite);

        border: 1px solid var(--colorLightBlue);
        box-sizing: border-box;
        border-radius: 8px;

        img {
          margin-top: 30px;
        }

        &__title {
          margin: 10px 0;
          font-family: var(--fontNunitoBold);
          font-size: 16px;
          line-height: 22px;
        }

        &__desc {
          font-size: 14px;
          line-height: 19px;
          margin-bottom: 30px;
        }

        button {
          font-family: var(--fontNunitoBold);
          width: 156px;
          height: 50px;
          background: var(--colorBlue);
          border-radius: 8px;
          margin-bottom: 30px;
        }
      }
    }

    .properties-block {
      padding: 20px 0 20px 20px;
      margin-bottom: 20px;

      background: var(--colorWhite);
      border-radius: 10px;

      .map-block {
        min-height: 400px;

        .gmnoprint,
        .gm-style-cc {
          display: none;
        }
      }

      .properties-list {
        width: 50%;
        h3 {
          font-family: var(--fontNunitoBold);
          line-height: 27px;
          margin: 20px 0 10px 20px;
        }

        p {
          font-size: 14px;
          line-height: 19px;
          margin: 0 0 24px 20px;
        }

        .property-main-block {
          // max-height: 1020px;
          position: relative;
          overflow-x: auto;
          padding-bottom: 5px;

          &__no-items {
            background: var(--bg-blue);
            font-size: 14px;
            line-height: 19px;
            border-radius: 8px;
            padding: 20px;
            margin: 0 20px;
            max-width: 450px;
            display: flex;
            align-items: self-start;

            img {
              margin-right: 10px;
            }

            span {
              color: var(--colorGrayTwo);
            }
          }
        }
      }
    }

    .find-agent-block {
      padding: 30px;

      background: var(--colorWhite);
      border-radius: 10px;

      .load-more {
        margin: 30px auto 0;
        width: 224px;
      }
    }

    .load-more {
      margin: 23px auto 0;
      font-size: 14px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      max-width: 460px;
      height: 47px;
      color: var(--colorBlue);
      background: var(--bg-blue);
      border-radius: 8px;
      border: unset;

      img {
        margin-right: 6px;
      }

      &:hover,
      &:active {
        color: var(--colorBlue);
        background: var(--bg-blue);
      }
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;
    padding-top: 40px;

    h1 {
      margin-bottom: 20px;
    }

    &__container {
      margin-top: 20px;

      .main-info-block {
        .top-block {
          align-items: baseline !important;
        }
      }

      .estimate-block {
        p {
          margin-bottom: 100px;
        }

        .scale-block {
          .line {
            width: 100%;
            background-image: url("../../assets/images/price-graph-tablet.svg");
            background-size: cover;
            background-repeat: no-repeat;
            min-height: 50px;
          }
        }
      }

      .properties-block {
        position: relative;
        padding: 20px;
        flex-direction: column;

        .w-48 {
          width: 100% !important;
          margin-top: 86px;
          min-height: 482px;
        }

        .properties-list {
          h3 {
            position: absolute;
            top: 10px;
          }

          p {
            position: absolute;
            top: 60px;
          }

          .property-main-block {
            margin-top: 20px;

            .property-block {
              margin: 0 0 9px;

              &__info {
                position: relative;

                .address {
                  margin-top: 32px;

                  .property-number {
                    display: none;
                  }
                }

                .short-desc {
                  .time {
                    margin-bottom: 14px;
                    flex-direction: row;

                    a {
                      margin-left: 4px;
                    }
                  }
                }
              }

              button {
                position: absolute;
                right: 0;
                bottom: 22px;
              }
            }
          }
        }
      }

      .find-agent-block {
        .agency-block {
          min-height: 170px;

          .short-info {
            flex-direction: column;
            align-items: baseline !important;

            .action-btn {
              top: 20px;
            }

            &__left {
              align-items: flex-start !important;
              margin-left: 165px;
            }

            &__right {
              margin: 12px 0 20px 145px;
            }

            .logo-block {
              height: 126px;
              position: absolute;
              left: 0;
              width: initial;
              border: 1px solid var(--colorLightGrey);
            }

            .info {
              margin-top: 20px;
            }

            .agency-border {
              display: none;
            }
          }

          .more-info {
            flex-direction: column;

            .agent-block {
              position: relative;

              .desc {
                width: 95%;
              }

              .details {
                position: absolute;
                left: 195px;
                bottom: 35px;
              }
            }

            .map-block {
              .agency-map {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }

  @media (max-width: 320px) {
    padding: 30px 16px 0;

    h1 {
      font-size: 20px;
      line-height: 27px;
      width: 75%;
    }

    &__container {
      .main-info-block {
        padding: 20px;

        .top-block {
          align-items: flex-start !important;
        }

        .bottom-block {
          margin-top: 20px;

          .image-block {
            flex-direction: column;
            margin-right: 60px;
            align-items: end;

            img {
              width: 30px;
              height: 30px;
              margin-bottom: 6px;
            }

            .title {
              margin-bottom: 3px;
            }

            &__info {
              margin-left: unset;
            }
          }
        }
      }

      .estimate-block {
        padding: 20px;

        h2 {
          width: 100%;
        }

        p {
          font-size: 14px;
          line-height: 19px;
        }

        .scale-block {
          padding: 0 10px;

          .line {
            width: 100%;
            background-image: url("../../assets/images/price-graph-mobile.svg");
            background-size: cover;
            background-repeat: no-repeat;
          }
        }

        .estimation-popup {
          .input-group,
          input {
            height: 46px;
          }

          .confirm {
            width: 100%;
          }
        }

        .thanks-for-reply {
          padding: 30px;

          img {
            margin-top: unset;
          }

          button {
            width: 100%;
            margin-bottom: unset;
          }

          &__desc {
            text-align: center;
          }
        }

        .btn-group {
          display: flex;
          margin-bottom: 20px;
          flex-direction: column;

          .btn:not(:first-child) {
            border-top: unset;
          }

          .btn:first-child {
            border-radius: 8px 8px 0 0;
          }

          .btn:last-child {
            border-radius: 0 0 8px 8px;
          }
        }
      }

      .properties-block {
        .properties-list {
          width: 100% !important;

          h3,
          p {
            margin: 0 0 6px;
          }

          .property-block {
            padding: 20px 0;
            margin-bottom: unset;
            flex-direction: column;

            &__image {
              margin-right: unset;
              width: 100%;

              img {
                width: 100%;
                height: 180px;
              }
            }

            &__info {
              .address {
                font-size: 12px;
                line-height: 16px;
                margin: 18px 0 4px;
              }

              .short-desc {
                display: flex;
                flex-direction: column-reverse;
                margin-bottom: 8px;

                .time {
                  display: flex;
                  flex-direction: column;

                  a {
                    font-family: var(--fontNunitoBold);
                  }
                }
              }

              button {
                width: 100%;
                height: 40px;
                justify-content: center;
              }
            }
          }

          .property-main-block {
            max-height: 1145px;

            &__no-items {
              margin: unset;
              max-width: 300px;
            }
          }
        }
      }

      .find-agent-block {
        padding: 20px;
        margin-bottom: 80px;

        h3 {
          font-family: var(--fontNunitoBold);
          font-size: 20px;
          line-height: 27px;
        }

        p {
          font-size: 14px;
          line-height: 19px;
          margin-bottom: 10px;
        }

        .short-info {
          flex-direction: column;

          &__left {
            align-items: flex-start !important;
            margin: 20px 0;

            .logo-block {
              margin-top: unset;
              margin-bottom: unset;
              width: 70px;
              height: 70px;

              img {
                width: 70px;
              }
            }

            .rating-block {
              label {
                margin-right: unset;
              }
            }
          }

          &__right {
            margin-bottom: 20px;
          }

          &__left,
          &__right {
            width: 100% !important;
          }

          .agency-border {
            display: none;
          }

          .action-btn {
            bottom: 20px;
          }
        }

        .count-block {
          
          margin-left: unset;
        }

        .load-more {
          width: 100%;
        }

        .more-info {
          margin-top: 10px;

          .desc {
            width: 100%;
          }

          .contact {
            width: 100%;
            margin-bottom: 36px;
          }

          .details {
            text-align: center;
            margin-bottom: 16px;
          }
        }
      }
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;
    padding-top: 40px;

    .property-main-block {
      width: 350px;
    }
    .Dashboard__container
      .properties-block
      .properties-list
      .property-main-block {
      margin-top: 70px;
    }
  }

  @media (max-width: 320px) {
    flex-direction: column;
    padding-top: 40px;

    .property-main-block {
      width: 350px;
    }
    .Dashboard__container
      .properties-block
      .properties-list
      .property-main-block {
      margin-top: 70px;
    }
  }

  @media (max-width: 768px) {
    .image-block {
      margin-right: 30x;
    }
    .find-agent-block {
      padding: 20px;
      

      background: var(--colorWhite);
      border-radius: 10px;

      .load-more {
        margin: 30px auto 0;
        width: 224px;
      }
      h3{
        font-size: 20px;
            }
    }
    .Dashboard__container .find-agent-block .agency-block .short-info__right {
      margin: 9px 0 19px 91px;
  }
  .btn-group, .btn-group-vertical {
    position: relative;
    display: inline;
    vertical-align: middle;
}
  }
}
