.main-page {
  background-color: var(--colorWhite);
  color: var(--mainColor);

  .image-carousel {
    max-width: 1400px;
    margin: 0 auto;
    position: relative;

    &__popup {
      padding: 60px;
      display: flex;
      flex-direction: column;
      align-items: center;

      width: 480px;

      position: absolute;
      z-index: 5;
      left: 136px;
      top: 140px;

      background: var(--colorWhite);
      box-shadow: 0 4px 42px rgba(29, 46, 91, 0.05);
      border-radius: 10px;

      .custom-select__value-container {
        height: 46px;
        position: unset;
      }

      .custom-select__indicators {
        display: none;
      }

      h2 {
        color: var(--colorBlack);
        font-family: var(--fontNunitoBold);
        max-width: 360px;
        margin-bottom: 20px;
        width: 90%;
        align-self: baseline;
      }

      input {
        border-radius: 6px;
        height: 46px;
      }

      button {
        font-family: var(--fontNunitoBold);
        font-size: 16px;
        line-height: 22px;
        margin: 20px 0 0;
        width: 241px;
        height: 50px;
        background: var(--colorBlue);
        border-radius: 8px;
      }
    }

    img {
      border-radius: 10px;
    }
  }

  .info-block {
    margin-top: 66px;

    &__top, &__middle {
      padding: 0 35px;
    }

    &__middle {
      margin-top: 120px;
    }

    &__bottom {
      margin-top: 127px;
      display: flex;
      flex-direction: column;
      align-items: center;

      font-family: var(--fontNunitoBold);

      span {
        font-size: 20px;
        line-height: 27px;
        color: var(--colorGray);
        margin-bottom: 20px;
        display: block;
      }

      p {
        font-style: italic;
        font-size: 24px;
        line-height: 33px !important;
        text-align: center;
      }
    }

    .get-estimation {
      font-family: var(--fontNunitoBold);
      width: 240px;
      height: 50px;

      background: var(--colorBlue);
      border-radius: 8px;
    }

    h4 {
      font-family: var(--fontNunitoBold);
      line-height: 33px;
      width: 60%;
      max-width: 427px;
      margin: 20px 0;
    }

    p {
      width: 80%;
      max-width: 427px;
      line-height: 22px;
      margin-bottom: 30px;
    }

    .left-block {
      width: 50%;
    }

    .right-block {
      .image-block {
        .mr-16px {
          margin-right: 16px;
        }

        &__left {
          img {
            margin-top: 20px;
          }
        }

        &__right {
          .top {
            display: flex;
            align-items: baseline;
            margin-bottom: 16px;
          }

          .bottom {
            display: flex;
            align-items: flex-start;
          }
        }
      }
    }
  }

  .testimonials {
    margin-top: 73px;

    h4 {
      font-family: var(--fontNunitoBold);
      text-align: center;
      line-height: 33px;
      margin-bottom: 18px;
    }

    &__list {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 30px;

      .load-more {
        margin-bottom: 107px;
        grid-column-start: 2;
        margin-top: unset;
        font-size: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 356px;
        height: 47px;
        color: var(--colorBlue);
        background: var(--bg-blue);
        border-radius: 8px;
        border: unset;

        img {
          margin-right: 6px;
        }

        &:hover, &:active {
          color: var(--colorBlue);
          background: var(--bg-blue);
        }
      }
    }

    &__item {
      width: 356px;
      padding: 20px;

      background: var(--colorWhite);
      border: 1px solid rgba(56, 113, 239, 0.2);
      box-sizing: border-box;
      border-radius: 8px;

      .avatar {
        width: 42px;
        height: 42px;
        margin-right: 12px;
      }

      .full-name {
        font-family: var(--fontNunitoBold);
        font-size: 16px;
        line-height: 22px;
      }

      .dv-star-rating {
        label {
          width: 14px;
          height: 14px;
          margin-bottom: unset;
          margin-right: 1px;
          float: unset !important;
        }
      }

      .desc {
        font-size: 14px;
        line-height: 19px;
      }
    }
  }

  .short-footer {
    padding: 0 40px 25px;
    font-size: 14px;
    line-height: 19px;

    .link {
      cursor: pointer;
      color: var(--colorBlue);
    }
  }

  .steps-block {
    &__progress-bar {
      width: 100%;
      height: 4px;
      background: #E5EAF7;

      .progress-bar {
        -webkit-transition: width .5s ease;
        -o-transition: width .5s ease;
        transition: width .5s ease;
        background: var(--colorBlue);
      }
    }

    &__main {
      min-height: calc(100vh - var(--headerHeight) - 4px); //4px height of progress-bar
      height: 100%;

      .step-title {
        display: block;
        font-size: 14px;
        line-height: 19px;
        margin-bottom: 5px;
      }

      h4 {
        font-family: var(--fontNunitoBold);
        line-height: 33px;
        margin-bottom: 30px;
      }


      #locality {
        width: 310px;
      }

      .input-group-text {
        border-color: var(--colorGray);
        background: var(--colorWhite);

        img {
          cursor: pointer;
        }
      }

      #street {
        width: 206px;
      }

      #number, #zip, #boxNumber {
        width: 96px;
      }

      .form-row {
        margin: unset;
        justify-content: space-between;
      }

      .steps-btn-group {
        font-family: var(--fontNunitoBold);

        .prev-step {
          height: 50px;
          color: var(--colorBlue);
          background: var(--colorWhite);
          border: unset;

          img {
            margin-right: 8px;
          }
        }

        .next-step {
          width: 218px;
          height: 50px;
          background: var(--colorBlue);
          border-radius: 8px;
        }
      }
    }

    .step-one, .step-two, .step-three, .step-four {
      label {
        font-size: 14px;
        line-height: 19px;
        margin-bottom: 5px;
      }

      input:not([type="checkbox"]) {
        width: 270px;
        height: 46px;
        border-radius: 6px;
        border: 1px solid var(--colorGray);

        &:focus {
          box-shadow: unset;
        }
      }
    }

    .step-one, .step-two, .step-three, .final-step, .step-four, .create-personal-account {
      width: 433px;
    }

    .step-one {
      h5 {
        font-family: var(--fontNunitoBold);
        font-size: 18px;
        line-height: 25px;
        margin: 15px 0 0;
      }

      button {
        margin-top: 20px;
        width: 433px;
        height: 50px;
        background: var(--colorBlue);
        border-radius: 8px;
      }

      .properties {
        margin: 20px 0;

        .property-home, .property-apartment, .property-land {
          position: relative;
          width: 131px;
          height: 122px;
          border: 1px solid var(--colorLightGrey);
          box-sizing: border-box;
          border-radius: 8px;

          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;

          .title {
            display: block;
            margin-top: 10px;
            line-height: 22px;
          }

          .active-item {
            background: url("../../assets/images/active-item.svg") no-repeat center 32%;
            position: absolute;
            right: -18px;
            top: -15px;
            box-shadow: 0 4px 12px rgba(56, 114, 239, 0.3);
            border-radius: 20px;
            background-size: inherit;
            width: 34px;
            height: 34px;
            display: none;
          }
        }

        .active {
          border: 1px solid var(--colorBlue);

          .active-item {
            display: block;
          }
        }
      }
    }

    .step-two, .step-three, .step-four {
      h4 {
        margin-bottom: 30px;
      }

      .range {
        background: var(--bg-blue);
        border-radius: 6px;
        height: 59px;

        input {
          width: 261px;
        }

        .prepend, .append {
          span {
            font-size: 14px;
            line-height: 19px;
            border: unset;
            background-color: transparent;
          }
        }
      }

      .input-group {
        margin-bottom: 30px;
        align-items: center;
        justify-content: space-between;

        label {
          line-height: 22px;
          font-size: 16px;
        }

        .input-block {
          display: flex;
          width: 217px;

          .input-group-text {
            justify-content: center;
            padding: unset;
            width: 46px;
            height: 46px;
            background: var(--bg-blue);
          }

          .input-group-append {
            .input-group-text {
              border-radius: 0 6px 6px 0;
            }
          }

          .input-group-prepend {
            .input-group-text {
              border-radius: 6px 0 0 6px;
            }
          }

          input {
            border-radius: 8px 0 0 8px;
            width: 100%;
          }
        }

        .input-border-radius-0 {
          span {
            cursor: pointer;
          }

          input {
            background-color: var(--colorWhite);
            text-align: center;
            border-radius: 0;
          }
        }
      }

      input[type=range] {
        -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
        background: var(--colorLightBlue);
        border-color: var(--colorLightBlue);
        border-radius: 4px;
        height: 3px;
      }

      input[type=range]::-webkit-slider-thumb {
        -webkit-appearance: none;
      }

      input[type=range]:focus {
        outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
      }

      input[type=range]::-ms-track {
        width: 100%;
        cursor: pointer;

        /* Hides the slider so custom styles can be added */
        background: transparent;
        border-color: transparent;
        color: transparent;
      }

      input[type=range]::-webkit-slider-thumb {
        -webkit-appearance: none;
        cursor: pointer;
        width: 19px;
        height: 19px;
        background: var(--colorBlue);
        box-shadow: 0 4px 10px rgba(56, 114, 239, 0.15);
        border-radius: 10px;
      }

      /* All the same stuff for Firefox */
      input[type=range]::-moz-range-thumb {
        cursor: pointer;
        width: 19px;
        height: 19px;
        background: var(--colorBlue);
        box-shadow: 0 4px 10px rgba(56, 114, 239, 0.15);
        border-radius: 10px;
      }

      /* All the same stuff for IE */
      input[type=range]::-ms-thumb {
        cursor: pointer;
        width: 19px;
        height: 19px;
        background: var(--colorBlue);
        box-shadow: 0 4px 10px rgba(56, 114, 239, 0.15);
        border-radius: 10px;
      }

      img {
        margin-right: 12px;
      }
    }

    .step-four {
      .input-group {
        margin-bottom: 20px;
        height: 46px;
      }

      .epc {
        .input-group-append {
          .input-group-text {
            font-size: 14px;
            line-height: 19px;
            width: 79px !important;
          }
        }
      }

      .custom-btn-group {
        grid-template-columns: repeat(4, 1fr) !important;
      }

      .terras-block {
        position: relative;
        width: 217px;
        height: 161px;

        .north {
          width: 59px;
          height: 41px;

          left: 78.61px;
          top: 0;
        }

        .north-east {
          width: 56px;
          height: 56px;

          left: 125.53px;
          top: 7px;
        }

        .east {
          width: 41px;
          height: 59px;

          left: 147.33px;
          top: 52.15px;
        }

        .south-east {
          width: 56px;
          height: 56px;

          left: 125.34px;
          bottom: 6.41px;
        }

        .south {
          width: 59px;
          height: 41px;

          left: 78.32px;
          bottom: 0;
        }

        .south-west {
          width: 56px;
          height: 56px;

          left: 34.81px;
          bottom: 6.88px;
        }

        .west {
          width: 41px;
          height: 59px;

          left: 27.53px;
          top: 49.87px;
        }

        .north-west {
          width: 56px;
          height: 56px;

          left: 35.4px;
          top: 6.33px;
        }

        img {
          cursor: pointer;
          position: absolute;
          margin-right: unset;
        }
      }

      .steps-btn-group {
        margin-bottom: 72px;
      }
    }

    .step-three, .step-four {
      display: flex;
      flex-direction: column;

      .form-label {
        font-size: 16px;
        line-height: 22px;
      }

      .optional {
        font-size: 16px;
        line-height: 22px;
        color: var(--colorGrayTwo);
        font-family: var(--fontNunito);
      }

      .group-block {
        margin-bottom: 30px;

        .first-btn {
          border-radius: 6px 0 0 6px;
        }

        .last-btn {
          border-radius: 0 6px 6px 0;
        }

        .custom-btn-group {
          margin-top: 5px;
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;

          span {
            line-height: 22px;
            display: block;
            text-align: center;
            margin-bottom: 16px;
          }

          .custom-active {
            background: var(--mainColor);
            color: var(--colorWhite);
          }

          button {
            height: 46px;
            font-size: 14px;
            line-height: 19px;

            color: var(--mainColor);
            background-color: transparent;
            border-color: var(--colorLightGrey);

            &:active, &:focus, &:target {
              box-shadow: none;
              background: var(--mainColor);
              color: var(--colorWhite);
            }
          }
        }
      }

      .form-group {
        display: flex;
        justify-content: space-between;
        align-items: center;

        select {
          width: 217px;
          height: 46px;
        }
      }

      .custom-select {
        background-image: url("../../assets/images/arrow.svg");
        background-size: 18px;
      }
    }

    .create-personal-account {
      h4 {
        margin-bottom: 5px;
      }

      .have-account {
        margin: 15px 0 30px;
        color: var(--colorBlue);
        cursor: pointer;
        display: flex;

        img {
          margin-left: 3px;
          transform: rotate(270deg);
        }
      }

      &__main-block {
        .title-block {
          display: flex;

          color: var(--colorGrayTwo);
          font-family: var(--fontNunitoBold);
          font-size: 16px;
          line-height: 22px;
          margin-bottom: 30px;

          span {
            text-align: center;
            height: 36px;
            width: 50%;
            cursor: pointer;
            border-bottom: 1px solid #D2D5DE;
          }

          .active {
            color: var(--mainColor);
            border-bottom: 2px solid var(--colorBlue);
          }
        }

        .switch-block {
          display: flex;
          justify-content: space-between;
          margin-bottom: 30px;

          .homeowner-block, .not-owner-block, .professional-account {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            position: relative;

            width: 206.5px;
            height: 122px;
            border: 1px solid var(--colorLightGrey);
            box-sizing: border-box;
            border-radius: 8px;

            img {
              margin-bottom: 10px;
            }

            .active-item {
              background: url("../../assets/images/active-item.svg") no-repeat center 32%;
              position: absolute;
              right: -18px;
              top: -15px;
              box-shadow: 0 4px 12px rgba(56, 114, 239, 0.3);
              border-radius: 20px;
              background-size: inherit;
              width: 34px;
              height: 34px;
              display: none;
            }
          }

          .active-block {
            border: 1px solid var(--colorBlue);

            .active-item {
              display: block;
            }
          }
        }

        .professional {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          grid-gap: 20px;

          .professional-account {
            width: 131px;
            height: 119px;
          }

          .other {
            height: 59px;
            width: 100%;
            grid-column-start: 1;
            grid-column-end: 4;
          }
        }
      }

      .form-group {
        margin-bottom: 30px;
      }

      label {
        font-size: 14px;
        line-height: 19px;
        margin-bottom: 5px;
      }

      .dropdown {
        margin-bottom: 30px;

        button {
          width: 100%;
          height: 46px;
          text-align: inherit;
          background: transparent;
          color: #1D2E5B;

          &:after {
            background-image: url("../../assets/images/arrow.svg");
            background-size: contain;
            width: 18px;
            height: 18px;
            display: block;
            position: absolute;
            right: 12px;
            top: 15px;
            border: unset;
          }
        }

        .active {
          color: var(--mainColor);
          background: var(--bg-blue);

          img {
            display: block !important;
          }
        }

        .dropdown-menu {
          width: 100%;
          padding: 10px;
          box-shadow: 0px 10px 24px rgba(29, 46, 91, 0.24);
          border-radius: 6px;

          a {
            display: flex;
            align-items: center;
            justify-content: space-between;

            padding: 12px 14px;
            height: 46px;
            border-radius: 6px;

            &:hover {
              background: var(--bg-blue);
            }

            img {
              display: none;
            }
          }
        }
      }

      .label {
        font-size: 14px;
        line-height: 19px;
        margin-bottom: 4px;
      }

      .show {
        button {
          &:after {
            background-image: url("../../assets/images/arrow.svg");
            transform: rotate(180deg);
          }
        }
      }
    }

    .final-step {
      font-size: 14px;
      line-height: 19px;

      .step-desc {
        display: block;
        margin-bottom: 20px;
      }

      .have-account {
        display: block;
        cursor: pointer;
        color: var(--colorBlue);
        margin-bottom: 30px;

        img {
          transform: rotate(270deg);
        }
      }

      label {
        margin-bottom: 5px;
      }

      input {
        border: 1px solid var(--colorGray);
        border-radius: 6px;
      }

      .form-row {
        flex-wrap: unset;
        align-items: center;

        .form-group {
          position: relative;

          input {
            width: 205px;
          }

          img {
            position: absolute;
            right: 10px;
            top: 40px;
          }
        }
      }

      .form-group {
        margin-bottom: unset;

        input {
          height: 46px;
        }
      }

      .recommendation {
        display: block;
        font-size: 12px;
        line-height: 16px;
        margin: 12px 0 30px;
      }

      .form-check {
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 10px;
      }

      button {
        font-family: var(--fontNunitoBold);
        margin-top: 30px;
        width: 100%;
        height: 50px;
        background: var(--colorBlue);
        border-radius: 8px;
      }
    }
  }

  @media (min-width: 375px) and (max-width: 425px) {
    .image-carousel {
      img {
        border-radius: unset;
        width: 100%;
      }

      &__popup {
        left: calc(50% - 172px);
        top: 200px;
        padding: 30px;
        width: 343px;

        h2 {
          font-size: 24px;
          line-height: 33px;
          text-align: center;
          width: 100%;
        }
      }
    }

    .info-block {
      margin-top: 257px;

      h4 {
        font-size: 20px;
        line-height: 27px;
        text-align: center;
        width: 70%;
        margin: 30px auto 20px;
      }

      p {
        width: 100%;
        text-align: center;
      }

      button {
        display: block;
        margin: 0 auto;
      }

      &__top {
        padding: unset;
        flex-direction: column-reverse;

        .mt-30px {
          margin-top: 30px;
        }

        .left-block {
          width: 100%;
        }

        .right-block {
          .image-block {
            align-items: flex-start;
            justify-content: space-between;
          }
        }
      }

      &__middle {
        margin-top: 80px;
        padding: unset;
        flex-direction: column;
      }

      &__bottom {
        margin-top: 80px;

        p {
          font-size: 20px;
          line-height: 27px;
        }

        img {
          width: 160px;
          height: 32px;
        }
      }
    }

    .testimonials {
      margin-top: 80px;

      &__list {
        grid-template-columns: 1fr;
        grid-gap: 20px;

        .load-more {
          margin-bottom: 80px;
          grid-column-start: 1;
          width: 100%;
        }
      }

      &__item {
        width: 100%;
      }

    }

    .short-footer {
      flex-direction: column;
      align-items: center;

      p {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }

    .steps-block {
      .ml-156 {
        margin-left: unset;
        margin-top: 87px;
        width: 100% !important;
      }

      .step-one {
        width: unset;
        padding: 0 16px;

        .step-title {
          display: none;
        }

        h4 {
          text-align: center;
        }

        #street {
          width: 168px;
        }

        #number, #boxNumber {
          width: 65px;
        }

        #locality {
          width: 225px;
        }

        .mr-4 {
          margin-right: unset !important;
        }

        .properties {
          flex-direction: column;

          .property-home, .property-apartment, .property-land {
            width: 100%;
            height: 76px;
            margin-bottom: 10px;
            flex-direction: row;
            justify-content: flex-start;

            img {
              width: 36px;
              height: 36px;
              margin-left: 20px;
              margin-right: 10px;
            }

            .title {
              margin-top: unset;
            }

            .active-item {
              top: 21px;
              right: 21px;
            }
          }
        }

        .pick-on-map {
          display: flex;
          color: var(--colorBlue);
          font-size: 14px;
          line-height: 19px;

          img {
            margin-right: 6px;
          }
        }

        .mobile-map {
          position: fixed;
          top: 0;
          width: 100%;
          height: 100%;
          left: 0;

          .address-block {
            position: absolute;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            padding: 30px;
            background-color: var(--colorWhite);
            z-index: 50;
            top: 0;
            left: 0;
            width: 100%;
            height: 104px;

            span {
              width: 90%;
              font-family: var(--fontNunitoBold);
              font-size: 16px;
              line-height: 22px;
            }
          }

          .close-map {
            font-family: var(--fontNunitoBold);
            color: var(--colorBlue);
            position: absolute;
            z-index: 50;
            bottom: 30px;
            width: 311px;
            height: 50px;
            left: 32px;
            background: var(--colorWhite);
            box-shadow: 0 4px 10px rgb(56 114 239 / 15%);
            border-radius: 8px;
            justify-content: center;
            align-items: center;
            display: flex;
          }
        }
      }

      .next-step {
        width: 100% !important;
        margin-bottom: 28px;
      }
    }
  }
}