.price-map-main {
    background: var(--bg-gray);

    input:focus , input:active , input:hover {
        box-shadow: unset;
        border: unset;
        outline:none
    }

    .price-content-view {
        width: 50%;
        padding: 10px;

        p {
            font-weight: bold;
            font-size: 20px;
            line-height: 33px;
            align-items: center;
            margin: 10px;
        }
       
        .city-price-content-span {
            color: var( --colorGray);
            font-size: 14px;
            line-height: 19px;
            margin:  10px;
        }

        .search-button {
            width: 48px;
            height: 48px;
            justify-content: center;
            align-items: center;
            border-radius: 8px;
            margin-left:10px;
        }
        .city-price-block {
            padding: 20px 20px 10px;
            border-radius: 8px;
            background-color: var(--colorWhite);

            p {
                font-weight: bold;
                font-size: 18px;
                line-height: 25px;
                margin-left: 20px;

                align-items: center;
                margin:10px 10px 20px ;
            }
            tr {
                height: 39px;
                margin: 6px 0px;
            }

            th {
                text-align: center;
                font-size: 12px;
                line-height: 16px;
                color: var(--mainColor);
            }
            td {
                margin: 0px 4px;
                font-size: 14px;
                line-height: 19px;
                text-align: center;
                color: var(--mainColor);
            }
            .city-name {
                font-weight: bold;
                font-size: 14px;
                line-height: 19px;
                margin: 0px 10px;
                color: var(--colorBlue);
            }
        }

        .city-price-content-map {
            padding: 20px 20px 10px;
            margin: 10px 0px;
            border-radius: 8px;
            background-color: var(--colorWhite);

            .title-block {
                text-align: center;
                span {
                    width: 50%;
                    font-weight: bold;
                    font-size: 14px;
                    line-height: 19px;
                    text-align: center;
                    padding-bottom: 10px;
                    cursor: pointer;
                    
                }

                .active {
                    border-bottom: 1px solid var(--colorBlue);
                }
                .inactive {
                    border-bottom: 1px solid var(--colorWhite);

                }
            }

            .city-price-date {
                margin: 10px 0px;
                border-radius: 6px;
                padding: 10px;

                .main-block {
                    width: 50%;
                }

                .home-type {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    padding: 10px;
                    border-radius: 6px;
                    margin: 0px 30px;

                    span {
                        font-size: 12px;
                        line-height: 16px;
                        color: var(--colorGrayTwo);
                        margin: 10px 0px;
                    }
                }

                .prices-block {
                    p {
                        font-weight: bold;
                        font-size: 25px;
                        line-height: 44px;
                        color: var( --mainColor);
                        margin: 0px;
                    }
                    span {
                        color: var(--colorGrayTwo);
                        font-size: 14px;
                        line-height: 19px;
                        margin: 4px 0px;
                    }
                    .price {
                        color: var( --mainColor);
                    }
                }
                .progress-block {
                    span {
                        color: var(--colorGray);
                        font-size: 14px;
                        line-height: 19px;
                        margin: 6px 0px;
                    }
                }
            }
        }

        .estimate-links-block {
            // padding: 20px;
            // margin: 10px 0px;
            border-radius: 8px;
            background-color: var(--colorWhite);
            .links-block {
                width: calc(100% - 10px);

                // border: 1px solid var(--bg-blue);
                border-radius: 6px;
                p{
                    margin-bottom: 20px;
                }

                Button {
                    border-radius: 8px;
                    margin-bottom: 25px;
                    padding: 14px 20px;
                }

            }
            .estmates-buttons {

                p {
                    align-items: center;
                    text-align: center;
                    font-weight: bold;
                    font-size: 16px;
                    line-height: 22px;
                    margin-top: 20px;
                }

            }
            .get-prices {

                p{
                    margin-top: 20px;
                    font-size: 14px;
                    line-height: 19px;
                    color: var(--mainColor);
                    font-weight: normal;
                }
                Button {
                    background-color: var(--colorWhite);
                    color: var(--colorBlue);
                }
            }

            Link {
                font-weight: bold;
                font-size: 14px;
                line-height: 19px;
                margin: 0px 3px;
            }

        }


    }

    .search-area {
        width: 50%;
        flex-direction: column;
        input {
            width: calc(100% - 10px);

            // width: 622px;
            height: 46px;
            box-shadow: 0px 4px 10px rgba(56, 114, 239, 0.15);
            border-radius: 6px;
            border: none;
            padding-left: 10px;

        }
        input::placeholder {
            font-size: 16px;
            line-height: 22px;
            color: var(--colorGray);
            margin: 0px 10px;
        }
        img {
            margin-top: -35px;
            margin-right: 20px;
            align-self: end;
            height: 25px;
            width: 25px;
            opacity: .5;
        }
    }

    .price-map {
        width: 50%;
        img {
            width: 100%;
            margin-left: 10px;
        }
    }
}



@media (max-width: 768px) {
    .price-map-main {
        background: var(--bg-gray);
    
        input:focus , input:active , input:hover {
            box-shadow: unset;
            border: unset;
            outline:none
        }
    
        .price-content-view {
            width: 100%;
            padding: 10px;
    
            p {
                font-weight: bold;
                font-size: 20px;
                line-height: 33px;
                align-items: center;
                margin: 10px;
            }
           
            .city-price-content-span {
                color: var( --colorGray);
                font-size: 14px;
                line-height: 19px;
                margin:  10px;
            }
    
            .search-button {
                width: 48px;
                height: 48px;
                justify-content: center;
                align-items: center;
                border-radius: 8px;
                margin-left:10px;
            }
            .city-price-block {
                padding: 20px 20px 10px;
                border-radius: 8px;
                background-color: var(--colorWhite);
    
                p {
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 25px;
                    margin-left: 20px;
    
                    align-items: center;
                    margin:10px 10px 20px ;
                }
                tr {
                    height: 39px;
                    margin: 6px 0px;
                }
    
                th {
                    text-align: center;
                    font-size: 12px;
                    line-height: 16px;
                    color: var(--mainColor);
                }
                td {
                    margin: 0px 4px;
                    font-size: 14px;
                    line-height: 19px;
                    text-align: center;
                    color: var(--mainColor);
                }
                .city-name {
                    font-weight: bold;
                    font-size: 14px;
                    line-height: 19px;
                    margin: 0px 10px;
                    color: var(--colorBlue);
                }
            }
    
            .city-price-content-map {
                padding: 20px 20px 10px;
                margin: 10px 0px;
                border-radius: 8px;
                background-color: var(--colorWhite);
    
                .title-block {
                    text-align: center;
                    span {
                        width: 100%;
                        font-weight: bold;
                        font-size: 14px;
                        line-height: 19px;
                        text-align: center;
                        padding-bottom: 10px;
                        cursor: pointer;
                        
                    }
    
                    .active {
                        border-bottom: 1px solid var(--colorBlue);
                    }
                    .inactive {
                        border-bottom: 1px solid var(--colorWhite);
    
                    }
                }
    
                .city-price-date {
                    margin: 10px 0px;
                    border-radius: 6px;
                    padding: 10px;
    
                    .main-block {
                        width: 50%;
                    }
    
                    .home-type {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        padding: 10px;
                        border-radius: 6px;
                        margin: 0px 10px;
    
                        span {
                            font-size: 12px;
                            line-height: 16px;
                            color: var(--colorGrayTwo);
                            margin: 10px 0px;
                        }
                    }
    
                    .prices-block {
                        p {
                            font-weight: bold;
                            font-size: 25px;
                            line-height: 44px;
                            color: var( --mainColor);
                            margin: 0px;
                        }
                        span {
                            color: var(--colorGrayTwo);
                            font-size: 14px;
                            line-height: 19px;
                            margin: 4px 0px;
                        }
                        .price {
                            color: var( --mainColor);
                        }
                    }
                    .progress-block {
                        span {
                            color: var(--colorGray);
                            font-size: 14px;
                            line-height: 19px;
                            margin: 6px 0px;
                        }
                    }
                }
            }
    
            .estimate-links-block {
                // padding: 20px;
                // margin: 10px 0px;
                border-radius: 8px;
                background-color: var(--colorWhite);
                .links-block {
                    width: calc(100% - 10px);
    
                    // border: 1px solid var(--bg-blue);
                    border-radius: 6px;
                    p{
                        margin-bottom: 20px;
                    }
    
                    Button {
                        border-radius: 8px;
                        margin-bottom: 25px;
                        padding: 14px 20px;
                    }
    
                }
                .estmates-buttons {
    
                    p {
                        align-items: center;
                        text-align: center;
                        font-weight: bold;
                        font-size: 16px;
                        line-height: 22px;
                        margin-top: 20px;
                    }
    
                }
                .get-prices {
    
                    p{
                        margin-top: 20px;
                        font-size: 14px;
                        line-height: 19px;
                        color: var(--mainColor);
                        font-weight: normal;
                    }
                    Button {
                        background-color: var(--colorWhite);
                        color: var(--colorBlue);
                    }
                }
    
                Link {
                    font-weight: bold;
                    font-size: 14px;
                    line-height: 19px;
                    margin: 0px 3px;
                }
    
            }
    
    
        }
    
        
        .price-map {
            width: 100%;
            img {
                width: 100%;
                margin-left: 10px;
            }
        }
    }
    
    
    .price-map-main .search-area {
        width: 100%;
        margin-left: 10px;
        margin-top: 18px;
        display: flex;
    }
    .pricr-map-setting.d-flex {
        display: flex;
        flex-direction: column;
    }
}
    


@media (max-width: 575.98px) {

    .price-map-main .price-content-view {
        width: 100%;
        padding: 2px;
    }
 }

