.PropertyPage {
	padding: 30px 0 40px;
	color: var(--mainColor);

	&__back {
		cursor: pointer;
		display: flex;
		color: var(--colorBlue);
		font-size: 14px;
		line-height: 19px;
		margin-bottom: 15px;

		img {
			margin-right: 6px;
			transform: rotate(90deg);
		}
	}

	&__main-content {
		justify-content: space-around;

		.property-info {
			padding: 20px 20px 30px;
			max-width: 780px;
			max-height: 741px;
			background: var(--colorWhite);
			border-radius: 10px;

			.images {
				justify-content: space-between;

				img {
					border-radius: 8px;
				}

				.main-image {
					width: 471px;
					height: 379px;
					margin-right: 10px;
					object-fit: cover;
				}

				.second-block {
					display: flex;
					flex-direction: column;
					justify-content: space-between;

					img {
						width: 259px;
						height: 185px;
						object-fit: cover;
					}
				}
			}

			.property-content {
				margin-top: 30px;
				justify-content: space-between;

				&__info {
					.address {
						font-family: var(--fontNunitoBold);
						font-size: 18px;
						line-height: 25px;
						margin-bottom: 16px;
					}

					.request-price {
						padding: 8px 12px;
						font-size: 12px;
						line-height: 16px;

						img {
							transform: rotate(270deg);
						}
					}

					.info {
						.baths,
						.beds {
							margin-left: 40px;
						}

						.square,
						.baths,
						.beds {
							img {
								width: 32px;
								height: 32px;
								margin-right: 12px;
							}

							display: flex;
							align-items: center;
						}

						&__title {
							font-size: 12px;
							line-height: 16px;
							display: block;
							opacity: 0.7;
							margin-bottom: 2px;
						}

						&__desc {
							font-family: var(--fontNunitoBold);
							font-size: 16px;
							line-height: 22px;
						}
					}
				}
			}

			.agency-block {
				border-top: 1px solid rgba(56, 113, 239, 0.2);
				border-bottom: unset;
				margin-top: 30px;

				.sold-by {
					margin: 30px 0 20px;
					font-size: 18px;
					line-height: 25px;
					font-family: var(--fontNunitoBold);
				}

				&__short-info {
					display: flex;
					align-items: center;

					.logo {
						display: flex;
						align-items: center;
						justify-content: center;
						width: 150px;
						height: 82px;
						border: 1px solid var(--colorLightGrey);
						box-sizing: border-box;
						border-radius: 8px;
					}

					.left-block {
						margin-left: 16px;

						.agency-name {
							font-family: var(--fontNunitoBold);
							font-size: 16px;
							line-height: 22px;
							margin-bottom: 5px;
						}

						.agency-stats {
							display: flex;
							align-items: center;

							.rate {
								font-size: 14px;
								line-height: 19px;
							}

							.stars-block {
								margin: 0 10px 0 6px;
							}

							.from {
								font-size: 12px;
								line-height: 16px;
								opacity: 0.6;
							}
						}
					}

					.right-block {
						display: flex;
						align-items: center;

						.count {
							font-family: var(--fontNunitoBold);
							font-size: 18px;
							line-height: 25px;
							padding: 9px 10px;
							background: var(--bg-blue);
							border-radius: 8px;
							margin-right: 12px;
						}

						.similar {
							display: block;
							width: 70%;
							font-size: 14px;
							line-height: 19px;
						}
					}
				}
			}
		}

		.contact-agency-block {
			width: 315px;

			.contact-agency {
				color: var(--mainColor);
				padding: 30px;
				background: var(--colorWhite);
				border-radius: 10px;
				font-size: 14px;
				line-height: 19px;

				h4,
				p {
					text-align: center;
				}

				h4 {
					font-family: var(--fontNunitoBold);
					font-size: 20px;
					line-height: 27px;
				}

				input,
				textarea,
				select {
					font-size: 16px;
					line-height: 22px;
					border-radius: 6px;
					margin-bottom: 20px;
				}

				input:not([type="checkbox"]),
				select {
					height: 46px;
				}

				textarea {
					resize: none;
				}

				.confirm {
					font-family: var(--fontNunitoBold);
					width: 100%;
					height: 50px;
					background: var(--colorBlue);
					border-radius: 8px;
				}

				.custom-select {
					background-image: url("../../assets/images/arrow.svg");
					background-size: 18px;
				}
			}

			&__desc {
				font-size: 12px;
				line-height: 16px;
				color: var(--colorGrayTwo);

				p {
					margin: 22px 0 0;

					.link {
						cursor: pointer;
						color: var(--colorBlue);
						text-decoration: underline;
					}
				}
			}
		}
	}

	@media (max-width: 768px) {
		&__main-content {
			justify-content: unset;

			.property-info {
				max-height: unset;
				max-width: unset;
				.images {
					.main-image {
						width: 454px;
						height: 379px;
						margin-right: 10px;
					}

					.second-block {
						img {
							width: 200px;
							height: 185px;
						}
					}
				}
			}

			.property-content {
				align-items: center;

				.w-100 {
					flex-direction: column-reverse;
					align-items: flex-start !important;

					.request-price {
						margin-top: 20px;
					}
				}

				&__map {
					width: 191px;
					height: 94px;

					img {
						width: 100%;
						height: 100%;
					}
				}
			}

			.agency-block {
				.logo {
					width: 150px !important;
					height: 126px !important;
				}

				&__blocks {
					flex-direction: column;

					.left-block,
					.right-block {
						margin-left: 16px;
						width: 100% !important;
					}

					.right-block {
						margin-top: 12px;

						.count {
							font-size: 14px !important;
							line-height: 19px !important;
							padding: 6.5px 7.5px !important;
						}

						.similar {
							width: 100% !important;
						}
					}
				}
			}

			.contact-agency-btn {
				font-family: var(--fontNunitoBold);
				display: flex;
				align-items: center;
				justify-content: center;
				margin: 40px auto 0;
				width: 224px;
				height: 50px;
				background: var(--colorBlue);
				border: 1px solid var(--colorBlue);
				box-sizing: border-box;
				border-radius: 6px;
				font-size: 16px;
				line-height: 22px;

				img {
					width: 18px;
					height: 18px;
					margin-right: 5px;
				}
			}
		}
	}

	@media (max-width: 320px) {
		padding: 30px 20px 40px;

		&__main-content {
			justify-content: center;

			.property-info {
				max-width: unset;
				max-height: unset;

				.images {
					flex-direction: column;
					justify-content: center !important;
					align-items: center;

					.main-image {
						width: 303px;
						height: 180px;
						margin-bottom: 10px;
					}

					.second-block {
						width: 100%;
						flex-direction: row;

						img {
							width: 146.5px;
							height: 110px;
						}
					}
				}
			}

			.property-content {
				position: relative;
				flex-direction: column;

				&__info {
					.w-100 {
						flex-direction: column;
						justify-content: flex-start !important;
					}

					.info {
						width: 100%;
						margin-bottom: 30px;

						.square,
						.beds,
						.baths {
							flex-direction: column;

							img {
								margin-right: unset !important;
								margin-bottom: 12px;
							}
						}
					}
				}

				&__map {
					img {
						width: 100%;
						height: 86px;
					}
				}

				.address {
					width: 75%;
					margin-bottom: 30px !important;
				}

				.request-price {
					position: absolute;
					right: 0;
					top: 6px;
				}
			}

			.agency-block {
				position: relative;
				padding-bottom: 67px;
				margin-bottom: 20px;

				&__short-info {
					.logo {
						width: 64px !important;
						height: 64px !important;

						img {
							width: 100%;
							height: auto;
						}
					}

					.left-block,
					.right-block {
						width: 100% !important;
					}

					.left-block {
						margin-left: 12px !important;

						p {
							width: 75%;
						}
					}

					.right-block {
						position: absolute;
						bottom: 0;
						left: 0;
					}
				}

				&__blocks {
					flex-direction: column;
				}
			}

			.contact-agency-btn {
				width: 100%;
				height: 50px;
				img {
					margin-right: 6px;
				}
			}
		}
	}
}
