@import "src/assets/styles/scss-variables";

.Header {
  height: 67px;
  padding: 0 20px;
  background-color: var(--colorWhite);

  img {
    width: 155px;
    height: 31px;
  }

  .right-block {
    img {
      width: 24px;
      height: 24px;
      margin-right: 6px;
    }
  }

  #header-dropdown {
    font-size: 14px;
    padding: 0.5rem 0;
    color: #1D2E5B;
    line-height: 19px;
  }
}