.property-detail-modal {
	width: 790px;
	height: 665px;

	.modal-header {
		padding: 30px 30px 0;
		border-bottom: unset;

		.modal-title {
			font-size: 20px;
			line-height: 27px;
			font-family: var(--fontNunitoBold);
		}
	}
	.title {
		font-family: Nunito Sans;
		font-style: normal;
		font-weight: bold;
		font-size: 24px;
		line-height: 33px;
		color: #1d2e5b;
	}
	.subtitle {
		font-family: Nunito Sans;
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		line-height: 16px;
		color: #1d2e5b;
		opacity: 0.6;
	}
	.modal-body {
		padding: 0 30px 30px;
	}
	.body {
		.main-container {
			display: flex;
			flex-direction: row;

			.image-container2 {
				display: none;
			}

			.image-container {
				width: 50%;
				img {
					max-width: 100%;
					max-height: 50%;
					border-radius: 8px;
				}
				.subimage-container {
					display: flex;
					flex-direction: row;
					.img1 {
						margin-top: 10px;
						max-width: 50%;
						max-height: 50%;
						padding-right: 5px;
						border-radius: 8px;
					}
					.img2 {
						margin-top: 10px;
						max-width: 50%;
						max-height: 50%;
						padding-left: 5px;
						border-radius: 8px;
					}
				}
			}

			.info-container {
				width: 50%;
				.address-and-map {
					.address {
						font-family: Nunito Sans;
						font-style: normal;
						font-weight: bold;
						font-size: 18px;
						line-height: 25px;
						color: #1d2e5b;
						padding-top: 20px;
					}
					.map {
						padding-top: 20px;
						padding-right: 10px;

						img {
							max-width: 100%;
							border-radius: 8px;
						}
					}
				}
				.line {
					display: block;
					height: 1px;
					width: 95%;
					border-top: 1px solid rgba(56, 113, 239, 0.25);
					align-self: center;
					padding-bottom: 20px;
				}
				.other-details {
					display: flex;
					flex-direction: row;
					padding-top: 24px;

					.detail-2container {
						flex: 1;
						.detail-1container {
							display: flex;
							flex-direction: row;
							height: 60px;
							img {
								height: 32px;
								width: 32px;
							}
							.heading {
								font-family: Nunito Sans;
								font-style: normal;
								font-weight: normal;
								font-size: 12px;
								color: #1d2e5b;
							}
							.info {
								font-family: Nunito Sans;
								font-style: normal;
								font-weight: bold;
								font-size: 16px;
								color: #1d2e5b;
							}
						}
					}
				}
			}
		}
		.detail-container {
			width: 50%;

			.heading {
				font-family: Nunito Sans;
				font-style: normal;
				font-weight: bold;
				font-size: 16px;
				color: #1d2e5b;
			}

			.name {
				flex: 3;
				font-family: Nunito Sans;
				font-style: normal;
			}

			.details {
				flex: 6;
				font-family: Nunito Sans;
				font-style: normal;
				font-weight: bold;
			}
			@media (max-width: 768px) {
				width: 100%;
			}
		}
		@media (max-width: 990px) {
			.main-container {
				display: flex;
				flex-direction: column;
				justify-content: flex-end;
				.image-container {
					display: none;
				}
				.image-container2 {
					display: inherit;
					flex-direction: row;
					img {
						object-fit: fill;
						max-width: 65%;
						max-height: 100%;
						border-radius: 8px;
						padding: 5px;
					}
					.subimage-container {
						display: flex;
						flex-direction: column;

						.img1 {
							max-width: 100%;
							max-height: 50%;
							border-radius: 8px;
							padding: 5px;
							object-fit: fill;
						}
						.img2 {
							max-width: 100%;
							max-height: 50%;
							border-radius: 8px;
							padding: 5px;
							object-fit: fill;
						}
					}
				}
				.info-container {
					padding-top: 20px;
					width: 100%;
					.address-and-map {
						display: flex;
						flex-direction: row;
						justify-content: space-between;
						.address {
							padding: 0;
						}
						.map {
							max-width: 45%;
							padding: 0;
						}
					}
					.other-details {
						padding: 0;
						padding-top: 10px;
						width: 70%;
					}
				}
			}
		}
	}
}

@media (max-width: 990px) {
	.property-detail-modal {
		max-width: 85%;
	}
}

@media (max-width: 576px) {
	.property-detail-modal {
		max-width: 100%;
	}
}
